//Colors
$color-primary-0: #0676b9; // Main Primary color */
$color-primary-1: #4598ca;
$color-primary-2: #1e87c5;
$color-primary-3: #05588a;
$color-primary-4: #03456b;

$color-black: #000000;

$color-grey-light-1: #bbb;
$color-grey-light-2: #918e8e;

$color-grey-dark-1: #787777;
$color-grey-dark-2: #505050;
$color-grey-dark-3: #222222;

//Font
$default-font-size: 1.6rem;

//Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
